services:
  postgres:
    image: postgres:16-alpine
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: hazeljs
      POSTGRES_PASSWORD: hazeljs123
      POSTGRES_DB: hazeljs
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U hazeljs"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data: 